.col-10 {
    background-color: #EAEEE9;
}

/* .shots {
    height: 700px;
    margin-bottom: 0;
    width: 400px;
    justify-content: center;
} */

.list {
    height: 200px;
}

.links {
    align: center;
    width: 230px;
}

.post-meta {
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

.homelist {
    color: grey;
}

a {
    color: grey;
}

.cr {
    color: grey;
    font-style: italic;
}

.name {
    font-weight: bold;
}

.creative-portfolio {
    text-align: end;
    margin-right: 0px;
    padding-right: 35px;
}

.dir-row{
    flex-direction: row;
    font-size: 7px;
    justify-content: end;
}

.listcol {
    margin: 0px;
    padding: 0px;
    padding-right: 35px;
}

.list-group {
    justify-content: center;
}

.list-group-item {
    padding: 5px;
}

.imgrow {
    justify-content: center;
}

img{
    padding: 10px;
    width: 250px;
    height: 250px;
}
